.topBar {
  position: fixed;
  z-index: 3;
  margin-left: 8rem;
  top: 0;
  right: 12%;
  left: 12%;
  height: 8rem;
  background-color: var(--backgroundClr);
}

.topBarContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8em 5em 0 5em;
}

.topBarOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.topBarOptions div {
  cursor: pointer;
}

.profileContents {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 8px 18px 10px rgba(0, 0, 0, 0.02);
  padding: 16px;
}

.changePassword {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  cursor: pointer;
}

.changePasswordMarginBottom {
  border-bottom: 1px solid #f5f7fb;
}

@media screen and (max-width: 777px) {
  .topBar {
    left: 0;
    right: 0;
  }
  .profileContents {
    display: flex !important;
  }
}

@media screen and (max-width: 582px) {
  .topBar {
    left: 0;
    right: 0;
  }
}
