.homeBody {
  margin-top: 3rem;
  margin-left: 8rem;
  position: relative;
  min-height: 100vh;
}
.homeBodyContainerBox {
  height: auto;
  overflow: auto;
}
.homeBodyContainer {
  padding: 3em 5em;
  display: flex;
  flex-direction: column;
}

.headerSearchMobile {
  display: none;
}

.homeBodyHeader {
  display: flex;
  justify-content: space-between;
}

.headerBodyTitle {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 41px;
  border-bottom: 3px solid #ffa136;
  border-radius: 2px;
  color: var(--blackFont);
  width: 32px;
}

.flex {
  display: flex !important;
}

.headerBodyOptions {
  display: flex;
  gap: 38px;
}

.headerSearch {
  display: flex;
  align-items: center;
  position: relative;
}

.searchbarIcn {
  position: absolute;
  right: 0;
  bottom: 12px;
}

.searchbar {
  outline: none;
  border-bottom: 1px solid #0e85ff;
  border-width: 0 0 1px 0;
  background: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.homeBodyContents {
  padding-top: 32px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeBodyCount {
  padding-top: 32px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.socialMedia {
  color: #3c4857;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 33px;
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  -ms-appearance: none;
}

.socialMediaCount {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
}

.socialMediaCount {
  height: 37px;
  width: 37px;
  border: 1px solid #ffffff;
  background-color: #0e85ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.homeBodyEmpty {
  border-radius: 500px;
  background-color: #f5f7fb;
  width: 819px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 300px;
}

.homeBodyEmpty div {
  color: #3c4857;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
  padding: 3em 0;
  max-width: 400px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.cardUpper {
  display: flex;
  flex-direction: column;
}

.cardContents {
  width: 363px;
  background-color: #ffffff;
  border-radius: 1em;
  padding: 12px 20px;
  cursor: pointer;
}

.cardUpper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardCopy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  cursor: copy;
}

.cardTitle {
  color: #0e85ff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
  padding-bottom: 6px;
}

.cardCopy div {
  color: #0e85ff;
  font-size: 12.6px;
  letter-spacing: 0;
  line-height: 17px;
}

.cardLink {
  color: #3c4857;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  background-color: #f5f7fb65;
  width: 363px;
  position: relative;
  border: radius;
  border-radius: 0 0 15px 15px;
  margin-left: -19.7px;
  margin-bottom: -12px;
  padding: 12px 0;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.501);
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeBtn {
  border: none;
  background: none;
  outline: none;
  position: absolute;
  top: -319px;
  right: -26px;
  cursor: pointer;
  z-index: 1;
}

.closeBtnContainer {
  position: relative;
}

.mobileHomeBodyCount {
  display: none;
}

@media screen and (max-width: 1040px) {
  .homeBodyContainer {
    padding: 3em 1.2em;
  }
}

@media screen and (max-width: 912px) {
  .cardContents {
    width: 312px;
  }

  .cardLink {
    width: 312px;
  }
  .cardContainer {
    justify-content: center;
  }
  .homeBodyEmpty {
    width: 85%;
  }
}

@media screen and (max-width: 582px) {
  .homeBodyCount {
    display: none;
  }
  .mobileHomeBodyCount {
    display: flex;
    position: absolute;
    right: 1em;
    top: 1.2em;
  }
  .headerBodyTitle {
    position: fixed;
    top: 97px;
    z-index: 1;
  }
  .mobileHomeBodyCount {
    position: fixed;
    right: 1em;
    top: 73px;
  }
  .homeBodyContainer {
    padding: 0 1.2em;
  }
  .socialMediaCount {
    height: 30px;
    width: 30px;
  }
  .homeBodyContents {
    padding-top: 94px;
  }

  .searchbar {
    margin-top: 100px;
  }
  .closeBtn {
    position: fixed;
    top: 8px;
    width: 34px;
  }
  .modalMobileTopbar {
    height: 80px;
    /* width: 360px; */
    background-color: #0e85ff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  .headerSearchMobile {
    display: flex;
    width: 100%;
    position: relative;
  }
}

@media screen and (max-width: 553px) {
  .homeBodyContents {
    padding-top: 0px;
  }
  .searchbar {
    margin-top: 0;
  }
}

@media screen and (max-width: 420px) {
  .cardContents {
    width: 270px;
  }
  .cardLink {
    width: 270px;
  }
}

@media screen and (min-width: 1370px) {
  .homeBody {
    margin-top: 1rem !important;
    margin-left: 0 !important;
    /* position: relative; */
    min-height: 100vh;
  }
}
