.home {
  position: relative;
  height: 100vh;
  overflow: auto;
  border: 1px solid rgba(255, 0, 0, 0);
}

@media screen and (max-width: 1370px) {
  .home {
    margin: 0;
  }
}

@media screen and (max-width: 582px) {
  .homeBodyCount {
    z-index: 1;
  }
  .homeTopBar {
    display: none;
  }
  .mobileTopBar {
    z-index: 1;
    display: flex;
    position: fixed;
    padding: 0 18px;
    top: 0;
    left: 0;
    z-index: 2;
    right: 0;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #0e85ff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  }
  .homeSideBar {
    display: none;
  }
  .homeBody {
    margin-top: 2rem;
    margin-left: 0rem;
    height: calc(100vh - 2rem);
  }
  .headerSearch {
    display: none;
  }
  .headerAddButton {
    position: fixed;
    bottom: 31px;
    right: 33px;
    z-index: 1;
  }
  .mobileTopBarFirst {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .mobileTopBarLast {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .homeBody {
    margin-top: 4rem;
  }

  .profileContents {
    top: 79px;
    right: 0px;
  }

  .homeBodyTop {
    position: fixed;
    width: 5em;
    height: 79px;
    background-color: #fafafa;
    /* margin-top: 60px; */
    width: 100%;
    z-index: 1;
  }
}
