@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans';
  transition: all 0.5s ease;
}

body {
  min-height: 100vh;
  background-color: #fafafa;
  margin: var(--mainMargin);
}

:root {
  --background: linear-gradient(180deg, #20bbff 0%, #0e85ff 100%);
  --borderClr: #f5f7fb4f;
  --fontClr: #ffffff;
  --placeHolderTextClr: #787e8c;
  --blueClr: #0e85ff;
  --successGreen: #cbf3dc;
  --successGreenBorder: #97e6b8;
  --successGreenFont: #2ecc71;
  --sideBarBlue: #2892ff;
  --mainMargin: 0 12%;
  --activeOrange: #ffa043;
  --backgroundClr: #f5f7fb;
  --blackFont: #3c4857;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  body {
    margin: 0 !important;
  }
}
